<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weather Map</title>
        <link rel="stylesheet" href="../css/style2.css">
        
    </head>

    <body>

        <div class="header" id="header">
            <h4>Get Weather</h4>
        </div>

        <div class="searchInputBox" id="searchInput">
            <input type="text" id="input-box" class="input-box" placeholder="Enter city name">
            <button id="searchBtn">Search</button>
        </div>


        <div class="weather-body" id="weatherBody"></div>
        <h2 class="weather-type" id="weatherType"></h2>

        <div class="additionals-first-row">

            <div class="real-feel-additional">
                <div class="real-feel-additional-label">Real Feel </div>
                <div class="real-feel-additional-value" id="realFeelAdditionalValue">-</div>
            </div>

            <div class="humidity-additional">
                <div class="humidity-additional-label">Humidity </div>
                <div class="humidity-additional-value" id="humidityAdditionalValue">-</div>
            </div>

            <div class="max-temperature-additional">
                <div class="max-temperature-additional-label">Highest Temperature </div>
                <div class="max-temperature-additional-value" id="maxTemperatureAdditionalValue">-</div>
            </div>

            <div class="min-temperature-additional">
                <div class="min-temperature-additional-label">Lowest Temperature </div>
                <div class="min-temperature-additional-value" id="minTemperatureAdditionalValue">-</div>
            </div>
        </div>

        <div class="additionals-second-row">

            <div class="wind-speed-additional">
                <div class="wind-speed-additional-label">Wind Speed </div>
                <div class="wind-speed-additional-value" id="windSpeedAdditionalValue">-</div>
            </div>

            <div class="wind-direction-additional">
                <div class="wind-direction-additional-label">Wind Direction </div>
                <div class="wind-direction-additional-value" id="windDirectionAdditionalValue">-</div>
            </div>

            <div class="visibility-additional">
                <div class="visibility-additional-label">Visibility </div>
                <div class="visibility-additional-value" id="visibilityAdditionalValue">-</div>
            </div>

            <div class="pressure-additional">
                <div class="pressure-additional-label">Pressure </div>
                <div class="pressure-additional-value" id="pressureAdditionalValue">-</div>
            </div>

            <div class="sunrise-additional">
                <div class="sunrise-additional-label">Sunrise </div>
                <div class="sunrise-additional-value" id="sunriseAdditionalValue">-</div>
            </div>

            <div class="sunset-additional">
                <div class="sunset-additional-label">Sunset </div>
                <div class="sunset-additional-value" id="sunsetAdditionalValue">-</div>
            </div>
        </div>

         <script src="../js/script.js"></script>
    </body>
</html>